body {
    box-sizing: border-box;
    background: #354259;
    max-width: 3840px;
    max-height: 2160px;
    min-width: 1280px;
    min-height: 720px;
    margin: 8px;
}

/*-----------------------------------------------------*/

.top-header-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gif-logo {
    max-width: 239px;
    max-height: 239px;
    min-width: 109px;
    min-height: 109px;
    width: 100%;
    border-radius: 100px;
}

.gif-logo-container {
    width: 60%;
}

.dropbtn {
    background-color: powderblue;
    position: relative;
    top: 30%;
    color: black;
    padding: 14px 40px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5B4B8A;
    max-width: 200px;
    max-height: 300px;
}

.dropdown-content a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    border-radius: 8px;
}

.dropdown-content a:hover {
    border-radius: 8px;
    background-color: #FAD4D4;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 8px;
    text-align: center;
}

.dropdown:hover .dropbtn {
    background-color: aquamarine;
}

/*------------------MENU BAR CSS--------------------*/

.top-container-content {
    background: lightgray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    text-align: center;
    width: 100%;
    position: relative;
}
/* This top container paragraph is only temporary */
.top-container-paragraph {
    text-align: center;
    color: purple;
    text-decoration: underline;
    font-size: 20px;
}

.top-p-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 70px;
}

/* Content will be decided if i use it or not for a regular menu 
or a drop down menu.
.menulink-header-container {
    position: relative;
    top: 80px;
    max-width: 703px;
    max-height:
    display: inline-block;
}

.menulink-header-container a {
    background: powderblue;
    color: black;
    padding: 18px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

.menulink-header-container a:hover {
    background: lightblue;
    color: darkorchid;
}
*/