body {
    box-sizing: border-box;
    background: #354259;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0;
}

/*-----------------------------------------------------*/
.top-header-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.logo-container {}

.gif-logo {
    width: 180px;
    border-radius: 100px;
}

.menulink-header-container {
    position: relative;
    top: 80px;
    max-width: 703px;
}

.menulink-header-container a {
    background: powderblue;
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}

.menulink-header-container a:hover {
    background: lightblue;
    color: darkorchid;
}

/*------------------MENU BAR CSS--------------------*/