body {
    margin-left: 8px;
    margin-right: 8px;
    background-color: #E9D5CA;
    min-width: 1280px;
    min-height: 768px;
}

@font-face {
    font-family: beyond-mars-font;
    src: url(../font/Beyond\ Mars/Beyond\Mars\Italic.ttf)
}

@font-face {
    font-family: Quantom-Font;
    src: url(../font/quantum/Quantum.otf)
}

/*LOGO AND MENU CSS*/
.top-header-container {
    background-color: powderblue;
    border-style: solid;
    border-bottom-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 8px;
    width: 1460px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    transition: 1s;
    justify-content: center;
    gap: 200px;
}

.logo-image {
    width: 120px;
}

/*----------------MENU LINKS-----------*/

.href-links {
    margin-left: 2px;
    margin-right: 2px;
}

.Menu-Links {
    width: fit-content;
    height: fit-content;
    transition: 500ms;
    position: relative;
    top: 45px;
}

.Menu-Links a {
    color: black;
    background-color: powderblue;
    text-decoration: none;
    padding: 16px 24px;
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    border-color: white;
    border-width: 2px;
    font-family: beyond-mars-font;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 500ms;
}

.Menu-Links a:hover {
    color: white;
    padding: 20px 28px;
    border-radius: 20px;
    background-color: slateblue;
    border-color: black;
    transition: 500ms;
}

.Menu-Links a:active {
    color: red;
    background-color: lightgray;

}

/*-------------main-content-container-----------*/
.top-content-container {
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 1460px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.Trailer-Image {
    width: 900px;
    height: auto;
    margin-top: 15px;
    border-style: solid;
    border-radius: 20px;
    transition: 600ms;
}

.Trailer-Image:hover {
    width: 1100px;
    height: auto;
    transition: 600ms;
}

.text-content-container {
    margin-top: 15px;
    border-style: solid;
    border-radius: 18px;
    width: 700px;
}



/*-------------main-content-container--END----------*/


/*------------CONTACT ME CONTAINER-------------*/

.middle-container {
    background-color: #EEEEEE;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 1460px;
    height: 140px;
    display: flex;
    transition: 400ms;
}

.middle-container:hover {
    width: 1500px;
    height: 180px;
    transition: 600ms;
}


/*-----------CONTACT BUTTON LINKS-----------*/
.text-container {
    width: fit-content;
    position: relative;
    top: 40px;
    left: 80px;
}

.h2-container {
    position: relative;
    bottom: 5px;
    left: 300px;
}

.link-containers {
    position: relative;
    top: 60px;
    left: 600px;
    width: fit-content;
    height: fit-content;
}

.link-containers a {
    padding: 16px 18px;
    text-decoration: none;
    background-color: powderblue;
    border-radius: 10px;
    transition: 400ms;
    font-size: 18px;
}

.link-containers a:hover {
    padding: 20px 22px;
    transition: 400ms;
    color: white;
    background-color: slateblue;
    border-color: black;
    border-style: solid;
}




/*-----------CONTACT BUTTON LINKS END-----------*/














/*
.temporary-container {
    width: 1200px;
    background-color: lightcyan;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

.Menu-Links {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.Menu-Links a {
    background-color: lightblue;
    padding: 24px 40px;
    text-decoration: none;
    font-size: 36px;
    border-radius: 10px;
    text-align: center;
    border-style: solid;
    border-color: white;
}

.Menu-Links a:hover {
    background-color: lightgray;
    color: red;
    border-color: yellow;
}

.Menu-Links a:active {
    color: green;
}*/